.box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 2px solid #000;
  width: min(70%, 1000px);
}

.btn_container {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.buttons_stack {
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}
