.main {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-right: auto;
  flex-grow: 1;
}

.pickers {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.btn {
  margin-top: 3rem;
}
